.rating-info {
    margin-bottom: 8px;
}

.rating-count {
    font-size: 10px;
    border: 1px solid orange;
    border-radius: 8px;
    margin: 2px;
    padding: 2px;
}

.event-card {
    background-color: white;
    margin: 8px;
    padding: 8px;
}