.rating-info {
    margin-bottom: 8px;
}

.rating-count {
    font-size: 10px;
    display: inline-block;
    width: 12px;
    text-align: center;
    color: white;
    border-radius: 50%;
    margin: 2px;
    padding: 4px;
}

.event-name {
    font-size: 18px;
    margin: 8px;
    line-height: 24px;
}

.assignment-table {
    max-width: 800px;
}