.rating-info {
    margin-bottom: 8px;
}

.rating-count {
    font-size: 12px;
    display: inline-block;
    width: 12px;
    text-align: center;
    color: white;
    border-radius: 50%;
    margin: 2px;
    padding: 4px;
}

.event-card {
    display: block;
    border: none;
}

.event-name {
    font-size: 18px;
    margin: 8px;
    line-height: 24px;
}

.table-button {
    margin-left: 2px;
    margin-right: 2px;
}

button {
    width: 200px;
}