.student-table {
    flex: 50%;
    background-color: azure;
    padding: 16px;
}

.events-list {
    font-size: 10px;
}

.student-card {
    color: white;
    border-radius: 8px;
    padding: 4px;
    margin: 2px;
    border: none;
    font-size: 12px;
    max-width: 200px;
}

.student-name {
    padding: 0px;
}

.current-event-rating {
    margin: 4px;
}

.student-card-expand {
    margin-left: 4px;
}

.student-card-remove {
    margin-right: 4px;
}