.student-table {
    flex: 50%;
    background-color: azure;
    padding: 16px;
}

.events-list {
    font-size: 10px;
}

.student-card {
    background-color: slategray;
    color: white;
    border-radius: 8px;
    padding: 8px;
    margin: 8px;
}

.student-name {
    padding: 0px;
}